#game {
  width: 1024px;
  height: 768px;
  margin: auto;
  background: black;
  overflow: hidden;
  position: relative;
  cursor: url('../images/cursor.png') 50 50, auto;
}

#gun {
  width: 200px;
  position: absolute;
  bottom: 0px;
  left: 445px;
  display: none;
}

