#home {
  width: 100%;
  height: 100vh;
  margin: auto;
  background: url('../images/bg2.png') no-repeat center/cover;
  overflow: hidden;
  position: relative;
  cursor: url("../images/cursor2.png") 5 5, auto;
}

#game {
  width: 100%;
  height: 100vh;
  margin: auto;
  background: url('../images/bg2.png') no-repeat center/cover;
  overflow: hidden;
  position: relative;
  cursor: url("../images/cursor.png") 50 50, auto;
  display: none;
}

img {
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.cowboy1 {
  width: 92px;
}
.cowboy2 {
  width: 85px;
}
.cowboy3 {
  width: 100px;
}
.cowboy4 {
  width: 87px;
}
.cowboy5 {
  width: 98px;
}
.blood {
  width: 150px;
}
.beer1 {
  width: 50px;
}
.beer2 {
  width: 50px;
  transform: scaleX(-1);
}

#gun {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 600px;
  left: 800px;
  display: none;
  z-index: 10000;
}

#menu {
  width: 400px;
  height: 200px;
  background: white;
  position: absolute;
  font-size: 30px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  /* 禁止反白 */
  user-select: none;
  -webkit-user-select: none;
}

#menu div {
  padding: 35px 0;
}

#menu div:hover {
  cursor: url("../images/cursor2.png") 5 5, auto;
  background: #CCC;
}

#hint {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 78%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  animation: a1 1s infinite linear alternate;
}

/* 淡入淡出效果 */
@keyframes a1 {
  0% {
    color: rgba(255, 255, 255, 1);
  }

  100% {
    color: rgba(255, 255, 255, 0);
  }
}
#scoreBoard {
  width: 30%;
  height: 15%;
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

#score {
  color: white;
  font-size: 2.5rem;
}
#timer {
  font-size: 2.5rem;
  color: white;
}
#heart {
  font-size: 2.5rem;
  color: white;
}
#shot {
  font-size: 2.5rem;
  color: white;
}

#barrel {
  z-index: 1000;
  position: absolute;
}

.barrelStyle1 {
  width: 200px;
  height: 170px;
  bottom: 1%;
  left: 12%;
}
.barrelStyle2 {
  width: 130px;
  height: 167px;
  bottom: 16%;
  left: 40%;
  transform: rotate(90deg);
}
.barrelStyle3 {
  width: 280px;
  height: 210px;
  bottom: 3%;
  left: 55%;
}
.barrelStyle4 {
  width: 140px;
  height: 196px;
  bottom: 8%;
  left: 74%;
}
.rotate1 {
  transform: rotate(90deg);
  transition: .3s;
  transform-origin: bottom;
}
.rotate2 {
  transform: rotate(-90deg);
  transition: .3s;
  transform-origin: bottom;
}