#home {
  width: 100%;
  height: 100vh;
  margin: auto;
  background: url('../images/bg2.png') no-repeat center/cover;
  overflow: hidden;
  position: relative;
  cursor: url("../images/cursor2.png") 5 5, auto;
}

#game {
  width: 100%;
  height: 100vh;
  margin: auto;
  background: url('../images/bg2.png') no-repeat center/cover;
  overflow: hidden;
  position: relative;
  cursor: url("../images/cursor.png") 50 50, auto;
  display: none;
}

img {
  height: 150px;
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

#gun {
  width: 367px;
  height: 429px;
  position: absolute;
  top: 600px;
  left: 800px;
  display: none;
  z-index: 10000;
}

#menu {
  width: 400px;
  height: 200px;
  background: white;
  position: absolute;
  font-size: 30px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  /* 禁止反白 */
  user-select: none;
  -webkit-user-select: none;
}

#menu div {
  padding: 35px 0;
}

#menu div:hover {
  cursor: url("../images/cursor2.png") 5 5, auto;
  background: #CCC;
}

#hint {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 78%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  animation: a1 1s infinite linear alternate;
}

/* 淡入淡出效果 */
@keyframes a1 {
  0% {
    color: rgba(255, 255, 255, 1);
  }

  100% {
    color: rgba(255, 255, 255, 0);
  }
}
#scoreBoard {
  width: 20%;
  height: 15%;
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

#score {
  color: white;
  font-size: 2.5rem;
}
#timer {
  font-size: 2.5rem;
  color: white;
}

#barrel {
  z-index: 1000;
  position: absolute;
}

.barrelStyle1 {
  width: 300px;
  height: 200px;
  bottom: 8%;
  left: 8%;
}
.barrelStyle2 {
  width: 260px;
  height: 260px;
  bottom: 8%;
  left: 35%;
}
.barrelStyle3 {
  width: 500px;
  height: 260px;
  bottom: 8%;
  left: 45%;
}
.barrelStyle4 {
  width: 260px;
  height: 260px;
  bottom: 8%;
  left: 80%;
}